extends layout

block header
    include header

block content
    #body-content
        .container
            .row
                include sidebar
                // main content
                #main-content.col-md-9
                    .container
                        table
                            thead
                                h1 #{item_name}
                            tbody
                                h3 Price $#{price}
                                if (desc !== '' && desc !== 'Nodescription')
                                    .div(style='width:60%')
                                        Description #{desc}


                                if numItems===0
                                    p This item is sold out.
                                if numItems === 1
                                    h3 Only 1 remaining!
                                if numItems>1
                                    p Items in stock #{numItems}

                                button.btn.btn-primary(type='button')
                                    | Buy
                                p

                                if (images)
                                    img(src='#{images}'  width='60%' style='margin:10px 5px')
                                if (images2)
                                    img(src='#{images2}' width='60%' style='margin:10px 5px')
                                if (images3)
                                    img(src='#{images3}' width='60%' style='margin:10px 5px')
                                if (images4)
                                    img(src='#{images4}' width='60%' style='margin:10px 5px')
                                if (images5)
                                    img(src='#{images5}' width='60%' style='margin:10px 5px')
                                if (images6)
                                    img(src='#{images6}' width='60%' style='margin:10px 5px')