extends layout

//var id = test_id;
//var desc = desc;
//    var item_name = row.ItemName;
//    var price = row.price;
//    var numItems = row.NumItems;
//    var SellerID = row.SellerID;
block header
    include header

block content
    #body-content
        .container
            .row
                // sidebar
                include sidebar
                // main content
                #main-content.col-md-9
                    .container
                        table
                            thead
                                h2 #{item_name}
                            tbody
                                p Desc #{desc}

                                //p image link #{images}
                                img(src='#{images}')

                                p Num items #{numItems}
                                p seller id #{sellerID}
                                //p id #{id}
//
//block content
//    .container
//        table
//            thead
//                h2 Product details
//            tbody
//                p Desc #{desc}
//                p id #{id}
//                p item #{item_name}
//                p Num items #{numItems}
//                p seller id #{sellerID}






//
    img(src='#{images2}')
                                img(src='#{images3}')
                                img(src='#{images4}')
                                img(src='#{images5}')
                                img(src='#{images6}')