extends layout

var results = results;
var id = 3;
//image
//id
//name
//price
results

block header
    include header

block content
    #body-content
        .container
            .row
                // sidebar
                include sidebar
                // main content
                #main-content.col-md-9
                    .container
                        table
                            thead
                                h2 Search Results
                            tbody
                                each val, index in results
                                    tr
                                        td
                                            a(href="/viewListing" + val.id)
                                                h3 #{val.name}
                                        td
                                            a(href="/viewListing" + val.id)
                                                h4 Price
                                    tr
                                        td
                                            a(href="/viewListing" + val.id)
                                                img(src=val.imagesrc)
                                        td
                                            a(href="/viewListing" + val.id)
                                    $#{val.price}
//
//block content
//    .container
//        table
//            thead
//                h2 Search Results
//            tbody
//                each val, index in results
//                    tr
//                        td
//                            a(href="/viewListing"+ val.id)
//                                h3 #{val.name}
//                        td
//                            a(href="/viewListing"+ val.id)
//                                h4 Price
//                    tr
//                        td
//                            a(href="/viewListing"+ val.id)
//                                img(src=val.imagesrc)
//                        td
//                            a(href="/viewListing"+ val.id)
//                            $#{val.price}